<%- include('partials/header.ejs') %>
<div class="container">

  <form action="/new" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label"
        >Title</label
      >
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Input your title"
        name = "title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label"
        >Content</article></label
      >
      <textarea
        class="form-control"
        id="content"
        rows="3"
        placeholder="Input your content"
        name="content"
        required
      ></textarea>
    </div>
    <button type="submit">Save</button>
  </form>
</div>
<%- include('partials/footer.ejs') %>
